**Python - Writing Your First Python Code!**

Welcome! This notebook will teach you the basics of the Python programming language.

In [5]:
print('Hello, Python!')

Hello, Python!

In [6]:
# Check the Python Version

import sys
print(sys.version)

3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]

In [7]:
# Practice on writing comments

print('Hello, World!') # This line prints a string
# print('Hi')

Hello, World!

**Types of objects in Python**

In [8]:
# Integer

11

11

In [9]:
# Float

2.14

2.14

In [10]:
# Type of 12

type(12)

int

In [11]:
# Type of 2.14

type(2.14)

float

In [12]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [13]:
# Type of 12.0

type(12.0)

float

In [14]:
# Print the type of -1

type(-1)

int

In [15]:
# Print the type of 4

type(4)

int

In [16]:
# Print the type of 0

type(0)

int

In [17]:
# Print the type of 0.56

type(0.56)

float

Converting from one object type to a different object type

In [18]:
# Convert 2 to a float

float(2)

2.0

In [19]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [20]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

Converting from strings to integers or floats

In [21]:
# Convert a string into an integer

int('1')

1

In [22]:
# Convert the string "1.2" into a float

float('1.2')

1.2

Converting numbers to strings

In [23]:
# Convert an integer to a string

str(1)

'1'

In [24]:
# Convert a float to a string

str(1.2)

'1.2'

Boolean data type

In [25]:
# Convert 1 to boolean

bool(1)

True

In [26]:
# Convert 0 to boolean

bool(0)

False

In [27]:
# Convert True to float

float(True)

1.0

**Expression and Variables**

In [28]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [29]:
# Subtraction operation expression

50 - 60

-10

In [30]:
# Multiplication operation expression

5 * 5

25

In [31]:
# Division operation expression

25 / 5

5.0

In [32]:
# Division operation expression

25 / 6

4.166666666666667

In [33]:
# Integer division operation expression

25 // 5

5

In [34]:
# Integer division operation expression

25 // 6

4

In [35]:
# Mathematical expression

30 + 2 * 60

150

In [36]:
# Mathematical expression

(30 + 2) * 60

1920

In [37]:
minutes=160
hours = minutes/60
print(hours)

2.6666666666666665

**Variables**

In [38]:
# Store value into variable
x=5

In [39]:
# Print out the value in variable

x

5

In [40]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [41]:
# Print out the value in variable

x

160

In [42]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [43]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [44]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [45]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours
total_hours

2.3666666666666667

In [46]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [47]:
x=3+2*2
x

7

In [48]:
y=(3+2)*2
y

10

In [49]:
z=x+y
z

17